body,ul,li,p,a,img,span { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #000; cursor: pointer;}
img { border: none; }

body { width: 100%; background: #E1E1E1; }

#header { width: 100%; height: 50px; background: #444; }
#header .wrapper {
    width: 100%;
}
#header .main-nav { float: right; overflow: hidden; margin-top: 8px; }
#header .main-nav li  { float: left; }
#header .main-nav li a { font-size: 13PX; display: block; padding: 10px 15px; color: #CCC; }
#header .main-nav li a:hover { color: #fff; }

#content { width: 100%; margin: 10px auto;  }
#content .main-content { width: 78%; float: left; background: #fff; }
#content .main-content .tags { overflow: hidden; padding: 10px;}
#content .main-content .tags li { float: left; }
#content .main-content .tags li a { margin: 0 10px; color: #80BD01;}
#content .main-content .tags li a:active { background: #80BD01; color: #fff; padding: 2px 5px; border-radius: 10%; }
#content .main-content .lists {  }
#content .main-content .lists li { padding: 10px; }
#content .main-content .lists li .author-portrait img { width: 30px; height: 30px; border-radius: 10%; vertical-align: middle; }
#content .main-content .lists li .reply-read { text-align: center; }
.reply-read .reply { color: #9e78c0; }
.reply-read .read { font-size: 10px; color: #b4b4b4; }
#content .main-content .lists li .list-title { display: inline-block; }
.list-title .good-tag { padding: 2px 4px; background: #80BD01; color: #fff; border-radius: 12%; }
.list-title .title { color: #333;  }
.list-title .title:hover  { text-decoration: underline; }
.list-title .title:active { color: #888; }
#content .main-content .lists li .latest-update { float: right; }
.latest-update .portrait { width: 18px; height: 18px; vertical-align: middle; }
.latest-update .time { color: #778087; font-size: 10px; }

#content .main-content .pages { overflow: hidden; margin: 10px 0 0 10px; height: 41px; }
#content .main-content .pages li { float: left; }
#content .main-content .pages li a { padding: 4px 12px; display: inline-block; border: 1px solid #ddd; color: #778087; font-size: 14px; }


#content .fun-modules { width: 20%; float: right; }
.fun-modules .login { background: #fff; width: 300px; padding-bottom: 15px; border-radius: 20px; text-align: center; padding-top: 29px;}
.fun-modules .login p { font: 14px '微软雅黑'; color: #606060; margin-bottom: 10px; }
.fun-modules .login .access,.fun-modules .login .btn{ border: 2px solid #606060; border-radius: 5px; height: 25px; }
.fun-modules .login .btn{ margin-left: 15px; cursor: pointer; }

.fun-modules .login img { vertical-align: middle; margin-right: 30px; margin-bottom: 10px;}
.fun-modules .login span {font: 16px '微软雅黑'; color: #606060; }

.wrapper { width: 1400px; margin: 0 auto; }


